/*Imported some google fonts*/
@import url(https://fonts.googleapis.com/css?family=Afacad);
@import url(https://fonts.googleapis.com/css2?family=Poppins);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);

/* Media query for screens smaller than 768 pixels */
@media (max-width: 768px) {
  .carousel {
    min-width: 100%;
    margin: 5px;
  }

  .carousel-caption {
    font-size: x-small;
  }

  .container {
    display: flex;
    min-width: 100%;
    margin-top: 1% !important;
    flex-direction: column;
  }

  .card-title.name {
    font-size: 12pt;
  }

  .weekly-container {
    width: 95% !important;
  }

  .row.first {
    font-size: 10pt !important;
  }

  .card-body {
    font-size: 5pt !important;
  }

  .card-header {
    font-size: medium;
  }

  strong {
    font-size: medium !important;
  }

  li {
    font-size: smaller;
  }

  .video-container {
  }
  .row-cols-md-3 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .custom-container {
    width: 93% !important;
  }
}

.navbar-nav {
  font-size: larger;
}

body {
  font-family: Poppins;
  font-size: small;
  /*Gradient for body background*/
  background: rgb(47, 69, 94);
  background: -moz-radial-gradient(
    circle,
    rgba(47, 69, 94, 1) 0%,
    rgba(11, 17, 24, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(47, 69, 94, 1) 0%,
    rgba(11, 17, 24, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(47, 69, 94, 1) 0%,
    rgba(11, 17, 24, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f455e",endColorstr="#0b1118",GradientType=1);
}

.list-group-item {
  padding: 3%;
  background-color: rgb(67, 92, 114);
  text-decoration: none;
  color: white;
}

.carousel {
  overflow: hidden;
  padding: 4%;
}

.carousel-inner {
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
  border: 1pt solid rgba(99, 138, 173, 0.444);
}

/*Css for Logos inside scoreboard*/
.scolo {
  width: 10%;
  margin-right: 5%;
  margin-left: 4%;
}

.card-body {
  font-size: 9pt;
  border-radius: 0px 0px 15px 15px;
}

.container {
  padding: 4%;
  font-size: small;
  overflow: hidden;
}

/*First row in scoreboard; Date, Home team, Score, Away team*/
.row.first {
  padding-bottom: 2%;
  margin-bottom: 2%;
  font-size: 15pt;
  border-bottom: 2pt solid rgb(99, 139, 173);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  font-weight: 600;
  font-family: Oswald;
}

.carousel-caption {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: white;
  background: rgb(62, 86, 107);
  background: -moz-linear-gradient(
    0deg,
    rgba(62, 86, 107, 0.938888934480042) 7%,
    rgba(86, 121, 152, 0.7848273098301821) 43%,
    rgba(103, 143, 179, 0.6643791305584734) 64%,
    rgba(123, 170, 213, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(62, 86, 107, 0.938888934480042) 7%,
    rgba(86, 121, 152, 0.7848273098301821) 43%,
    rgba(103, 143, 179, 0.6643791305584734) 64%,
    rgba(123, 170, 213, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(62, 86, 107, 0.938888934480042) 7%,
    rgba(86, 121, 152, 0.7848273098301821) 43%,
    rgba(103, 143, 179, 0.6643791305584734) 64%,
    rgba(123, 170, 213, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e566b",endColorstr="#7baad5",GradientType=1);
}

h4 {
  padding: 3%;
}

h5 {
  font-weight: 700;
}

h3 {
  font-weight: 900;
}

header {
  position: relative;
  color: white;
  text-align: left;
  padding: 1%;
  padding-bottom: 0%;
}

/*Illustrative background for card headers (created by me :) )*/
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Pictures/bg.png");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.weekly-container {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-left: 4%;
}

.player-container {
  display: flex;
  flex-direction: row;
}

.player-card {
  position: relative;
  border: 1pt solid rgba(99, 138, 173, 0.444);
  border-radius: 0px 0px 15px 15px;
}

.card-img-top {
  width: 100%;
  border-bottom: 5pt solid rgb(99, 139, 173);
}

/*Team background for nba weekly mvp card*/
.player-card.nba::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("Pictures/lakers.png");
  background-size: 180%;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

/*Team background for euroleague weekly mvp card*/
.player-card.eur::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("Pictures/monaco.png");
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

/*Team background for aba league weekly mvp card*/
.player-card.aba::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("Pictures/budu.png");
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

.card-title {
  color: aliceblue;
}

strong {
  font-size: x-large;
}

.stats {
  color: aliceblue;
  background-color: rgb(67, 92, 114);
  padding-left: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Remove top padding from the first element */
.stats:first-child {
  padding-top: 5%;
}

/* Remove dashed underline from the last element */
.stats:last-child {
  border-bottom-style: none;
  border-radius: 0px 0px 15px 15px;
}

.player-container {
  display: flex;
  justify-content: space-between;
}

.player-card {
  flex: 1;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

.card-header {
  background-color: transparent;
  border-bottom: none;
  color: aliceblue;
  font-family: Oswald;
  font-weight: 300;
  font-size: 12pt;
}

.video-container {
  margin-bottom: 10%;
}

.card.videos {
  background-color: rgb(67, 92, 114);
}

footer {
  font-size: small;
  background-color: rgb(38, 52, 64);
  color: rgb(103, 141, 174);
  padding: 4%;
  position: relative;
  bottom: 0;
  width: 100%;
}

/*Footer links default variant*/
.footer-link {
  color: rgb(103, 141, 174);
  -webkit-transition: 0.4s ease-out;
}

/*Footer links while hovering over them*/
.footer-link:hover {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s ease-in;
}

.footer-social-icons {
  list-style-type: none;
  padding: 0;
}

.footer-social-icons li {
  display: inline-block;
  margin-right: 10px;
}

/*Footer socials default variant*/
.footer-social-icons li a {
  color: rgb(103, 141, 174);
  font-size: 20px;
  -webkit-transition: 0.3s ease-out;
}

/*Footer socials while hovering over them*/
.footer-social-icons li a:hover {
  color: #f8f9fa;
  text-decoration: none;
  -webkit-transition: 0.1s ease-in;
}

/* Sponsor Banner logo done using SASS */
.custom-container {
  position: relative;
  width: 676.6px;
  height: 100px;
  margin-left: 4%;
  margin-top: 4%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ddc82c;

  .banner {
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;

    .sponsor-logos {
      display: inline-block;
      animation: scroll 20s linear infinite;

      img {
        margin-top: 20px;
        margin-right: 60px;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.latest-card {
  width: 100%;
  padding: 4%;
  font-size: 12pt;
}

.submitbtn {
  width: 100%;
  padding: 2%;
  margin-bottom: 15%;
  margin-top: 10%;
  padding: 7%;
  color: white;
  border: none;
  background-color: rgb(38, 52, 64);
  font-family: Poppins;
  font-size: 12pt;
  font-weight: bold;
}

.subbutton {
  background-color: transparent;
  color: rgb(103, 141, 174);
  border: none;
  box-shadow: none;
  width: 100%;
  padding: 4%;
  font-size: 14pt;
  -webkit-transition: 0.3s ease-out;
}

.subbutton:hover {
  color: white;
  -webkit-transition: 0.1s ease-in;
}


#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  transform: scale(150%);
  border-radius: 50%;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}

