body {
  background-color: rgb(47, 58, 68);
}

.carousel {
  max-width: 45%;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.carousel-inner {
  border-radius: 15px;
  overflow: hidden;
}

/* Media query for screens smaller than 768 pixels */
@media (max-width: 768px) {
  .carousel {
    max-width: 100%;
    margin: 5px;
  }

  .carousel-caption {
    font-size: x-small;
  }

  .container {
    display: flex;
    min-width: 100%;
    margin-top: 1% !important;
    flex-direction: column;
  }

  .player-container {
    width: 92% !important;
  }

  .card-header {
    font-size: small;
  }

  strong {
    font-size: medium !important;
  }

  li {
    font-size: smaller;
  }
}

.scolo {
    
    width: 15%;
    margin-right: 5%;
    margin-left: 5%;
    
}

.container {
  font-size: small;
  max-width: 45%;
  margin-right: 20px;
  margin-top: -380px;
  border-radius: 15px;
  overflow: hidden;
}

.carousel-caption {
  display: block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: white;
  background: rgb(7, 39, 120);
  background: -moz-linear-gradient(
    0deg,
    rgba(7, 39, 120, 0.9) 0%,
    rgba(11, 43, 125, 0.75) 33%,
    rgba(11, 58, 177, 0.5) 66%,
    rgba(15, 77, 232, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(7, 39, 120, 0.9) 0%,
    rgba(11, 43, 125, 0.75) 33%,
    rgba(11, 58, 177, 0.5) 66%,
    rgba(15, 77, 232, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(7, 39, 120, 0.9) 0%,
    rgba(11, 43, 125, 0.75) 33%,
    rgba(11, 58, 177, 0.5) 66%,
    rgba(15, 77, 232, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#072778",endColorstr="#0f4de8",GradientType=1);
}

h5 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
  color: aliceblue;
}

.player-card {
  position: relative;
  width: 13%;
  border: 1pt solid;
  border-radius: 30px 30px 0% 0%;
}

.card-img-top {
  width: 100%;
}

.player-card.nba::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("Pictures/lakers.png");
  background-size: 180%;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: -1; /* Place behind other content */
}

.player-card.eur::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("Pictures/monaco.png");
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: -1; /* Place behind other content */
}

.player-card.aba::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("Pictures/budu.png");
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: -1; /* Place behind other content */
}

.card-title {
  color: aliceblue;
}

strong {
  font-size: x-large;
}

.stats {
  color: aliceblue;
  background-color: rgb(67, 92, 114);
  padding-left: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
}

/* Remove top padding from the first element */
.stats:first-child {
  padding-top: 5%;
}

/* Remove dashed underline from the last element */
.stats:last-child {
  border-bottom-style: none;
}

.player-container {
  margin-left: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

.player-card {
  flex: 1;
  margin-right: 10px; /* Adjust the margin between cards */
}

ul {
  list-style-type: none;
}

.card-header {
  background-color: transparent;
  border-bottom: none;
  color: aliceblue;
}
