@import url(https://fonts.googleapis.com/css?family=Afacad);
@import url(https://fonts.googleapis.com/css2?family=Poppins);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);

/* Media query for screens smaller than 768 pixels */
@media (max-width: 768px) {
  .carousel {
    min-width: 90%;
    margin: 5px;
  }

  .carousel-caption {
    font-size: x-small;
  }

  .container {
    display: flex;
    min-width: 100%;
    margin-top: 1% !important;
    flex-direction: column;
    transform: translateY(0%) !important;
  }

  .player-container {
    width: 92% !important;
    transform: translateY(0%) !important;
  }

  .card-header {
    font-size: small;
  }

  strong {
    font-size: medium !important;
  }

  li {
    font-size: smaller;
  }

  .video-container {
    transform: translateY(0%) !important;
  }
  .row-cols-md-3 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.navbar-nav {
    font-size: larger;
}

body {
    overflow-x: hidden;
  background-color: rgb(47, 58, 68);
  font-family: Poppins;
  font-size: medium;
}

.carousel {
  max-width: 47%;
  margin-left: 20px;
  margin-top: 40px;

  overflow: hidden;
}

.carousel-inner {
  border-radius: 15px;
  overflow: hidden;
  border: 1pt solid rgba(99, 138, 173, 0.444);
}

.row {
  padding: 1.3%;
}

.scolo {
  width: 10%;
  margin-right: 5%;
  margin-left: 4%;
}

.container {
  font-size: large;
  max-width: 50%;
  margin-right: 20px;
  margin-top: -380px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  transform: translateY(-18.1%);
}

.row.first {
  font-size: larger;
  border-bottom: 2pt solid rgb(99, 139, 173);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  font-weight: 600;
  font-family: Oswald;
}

.carousel-caption {
  display: block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: white;
  background: rgb(62, 86, 107);
  background: -moz-linear-gradient(
    0deg,
    rgba(62, 86, 107, 0.938888934480042) 7%,
    rgba(86, 121, 152, 0.7848273098301821) 43%,
    rgba(103, 143, 179, 0.6643791305584734) 64%,
    rgba(123, 170, 213, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(62, 86, 107, 0.938888934480042) 7%,
    rgba(86, 121, 152, 0.7848273098301821) 43%,
    rgba(103, 143, 179, 0.6643791305584734) 64%,
    rgba(123, 170, 213, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(62, 86, 107, 0.938888934480042) 7%,
    rgba(86, 121, 152, 0.7848273098301821) 43%,
    rgba(103, 143, 179, 0.6643791305584734) 64%,
    rgba(123, 170, 213, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e566b",endColorstr="#7baad5",GradientType=1);
}

h4 {
  padding: 10px;
}

h5 {
  font-weight: 700;
}

h2 {
  padding-top: 5px;
  position: relative;
  z-index: 1;
  font-weight: 900;
}

header {
  position: relative;
  color: white;
  text-align: left; /* Center align text */
  /* Add some padding around the text */
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Pictures/bg.png"); /* Set the background image */
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Set the opacity for the background image */
  z-index: -1;
}

.player-container {
  width: min-content;
  transform: translateY(-70%);
}

.player-card {
  position: relative;
  width: 11%;
  border: 1pt solid rgba(99, 138, 173, 0.444);
  border-radius: 30px 30px 0% 0%;
}

.card-img-top {
  width: 100%;
  border-bottom: 5pt solid rgb(99, 139, 173);
}

.player-card.nba::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("Pictures/lakers.png");
  background-size: 180%;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: -1; /* Place behind other content */
}

.player-card.eur::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("Pictures/monaco.png");
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: -1; /* Place behind other content */
}

.player-card.aba::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("Pictures/budu.png");
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: -1; /* Place behind other content */
}

.card-title {
  color: aliceblue;
}

strong {
  font-size: x-large;
}

.stats {
  color: aliceblue;
  background-color: rgb(67, 92, 114);
  padding-left: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
}

/* Remove top padding from the first element */
.stats:first-child {
  padding-top: 5%;
}

/* Remove dashed underline from the last element */
.stats:last-child {
  border-bottom-style: none;
}

.player-container {
  margin-left: 20px;
  width: 45%;
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

.player-card {
  flex: 1;
  margin-right: 10px; /* Adjust the margin between cards */
}

ul {
  list-style-type: none;
}

.card-header {
  background-color: transparent;
  border-bottom: none;
  color: aliceblue;
  font-family: Oswald;
  font-weight: 300;
}

.video-container {
  max-width: 100%;
  transform: translateY(-100%);
}

.card.videos {
  background-color: rgb(67, 92, 114);
}


footer {
    background-color: rgb(38, 52, 64);
    color: rgb(103, 141, 174);
    padding: 30px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-link {
    
    color: rgb(103, 141, 174);
}

.footer-link:hover {
    text-decoration: none;
    color: white;
}

.footer-social-icons {
    list-style-type: none;
    padding: 0;
}

.footer-social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social-icons li a {
    color: rgb(103, 141, 174);
    font-size: 20px;
}

.footer-social-icons li a:hover {
    color: #f8f9fa;
    text-decoration: none;
}
