.carousel {
  max-width: 45%;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.carousel-inner {
  border-radius: 15px;
  overflow: hidden;
}

/* Media query for screens smaller than 768 pixels */
@media (max-width: 768px) {
  .carousel {
    max-width: 100%;
    margin: 5px;
  }

  .carousel-caption {
    font-size: x-small;
  }

  .container {
    display: flex;
    min-width: 100%;
    margin-top: 1% !important;
    flex-direction: column;
  }
}

.container {
  font-size: small;
  max-width: 45%;
  margin-right: 20px;
  margin-top: -380px;
  border-radius: 15px;
  overflow: hidden;
}



.carousel-caption {
  display: block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: white;
  background: rgb(7, 39, 120);
  background: -moz-linear-gradient(
    0deg,
    rgba(7, 39, 120, 0.9) 0%,
    rgba(11, 43, 125, 0.75) 33%,
    rgba(11, 58, 177, 0.5) 66%,
    rgba(15, 77, 232, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(7, 39, 120, 0.9) 0%,
    rgba(11, 43, 125, 0.75) 33%,
    rgba(11, 58, 177, 0.5) 66%,
    rgba(15, 77, 232, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(7, 39, 120, 0.9) 0%,
    rgba(11, 43, 125, 0.75) 33%,
    rgba(11, 58, 177, 0.5) 66%,
    rgba(15, 77, 232, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#072778",endColorstr="#0f4de8",GradientType=1);
}

h5 {
  font-weight: 700;
}

h2 {
    font-weight: 600;
    
}
