.carousel {
  max-width: 45%;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.carousel-inner {
  border-radius: 15px;
  overflow: hidden;
}

/* Media query for screens smaller than 768 pixels */
@media (max-width: 768px) {
  .carousel {
    max-width: 100%;
    margin: 5px;
  }

  .carousel-caption {
    font-size: x-small;
  }

  .container {
    display: flex;
    min-width: 100%;
    margin-top: 1% !important;
    flex-direction: column;
  }

  .player-container{
    display: flex;
    flex-direction: row;
    min-width: 50%;
  }
}

.container {
  font-size: small;
  max-width: 45%;
  margin-right: 20px;
  margin-top: -380px;
  border-radius: 15px;
  overflow: hidden;
}

.carousel-caption {
  display: block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: white;
  background: rgb(7, 39, 120);
  background: -moz-linear-gradient(
    0deg,
    rgba(7, 39, 120, 0.9) 0%,
    rgba(11, 43, 125, 0.75) 33%,
    rgba(11, 58, 177, 0.5) 66%,
    rgba(15, 77, 232, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(7, 39, 120, 0.9) 0%,
    rgba(11, 43, 125, 0.75) 33%,
    rgba(11, 58, 177, 0.5) 66%,
    rgba(15, 77, 232, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(7, 39, 120, 0.9) 0%,
    rgba(11, 43, 125, 0.75) 33%,
    rgba(11, 58, 177, 0.5) 66%,
    rgba(15, 77, 232, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#072778",endColorstr="#0f4de8",GradientType=1);
}

h5 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

.player-container {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-top: 0px;
  padding-left: 10px;
  transform: translateY(-10%);
}

.player-card {
  width: 15%;
  margin: 10px;
  position: relative; /* Added */
  border: none;
}

.player-card img {
  width: 100%;
  margin-top: 0%;
  height: auto;
  border-radius: 25px 25px 0 0;
  position: absolute;
  top: 120px; /* Added */
  transform: translateY(-48%); /* Added */
  background-color: #0727786b;
}

.player-name {
  position: absolute;
  top: 205px;
  font-size: x-large;
  color: white;
  font-weight: bold;
  padding: 5px;
  padding-left: 10px;
  z-index: 2; /* Added */
  width: 100%;
  background: rgb(7,39,120);
  background: -moz-linear-gradient(0deg, rgba(7,39,120,1) 0%, rgba(13,49,139,0.7063959372811625) 33%, rgba(14,63,187,0.43748837425595233) 54%, rgba(15,77,232,0) 77%);
  background: -webkit-linear-gradient(0deg, rgba(7,39,120,1) 0%, rgba(13,49,139,0.7063959372811625) 33%, rgba(14,63,187,0.43748837425595233) 54%, rgba(15,77,232,0) 77%);
  background: linear-gradient(0deg, rgba(7,39,120,1) 0%, rgba(13,49,139,0.7063959372811625) 33%, rgba(14,63,187,0.43748837425595233) 54%, rgba(15,77,232,0) 77%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#072778",endColorstr="#0f4de8",GradientType=1); 
}

.player-stats {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start;
  height: 25%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 0 0 5px 5px;
  margin-top: 250px; /* Added */
  position: relative; /* Added */
  z-index: 1; /* Added */
  background-color: #072778;
}

.player-stats p {
    margin: 0;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ffffff; /* Colored line */
}

/* Style the last paragraph to remove the border */
.player-stats p:last-child {
    border-bottom: none;
}
