
#footerlist{
    list-style-type: none;
    padding: 0%;
}

#footer1{
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100%;
    position: sticky;
    bottom: 0;

}

button{
    background-color: #00d061 !important;
    color: white;
    border-radius: 10pt;
    border: none !important;
}



#navigation.light-theme {
    --primary-color: #fff ;
    --secondary-color: #000 ;
}

#navigation.dark-theme {
    --primary-color: #232323 ;
    --secondary-color: #fff ;
}


a {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

a.light-theme {
    --primary-color: #fff ;
    --secondary-color: #000 ;
}

a.dark-theme {
    --primary-color: #232323 ;
    --secondary-color: #fff ;
}


a {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

body.light-theme {
    --primary-color: #fff ;
    --secondary-color: #000 ;
}

body.dark-theme {
    --primary-color: #232323 ;
    --secondary-color: #fff ;
}


body {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    margin: 10px;
    cursor: pointer;
  }
  
  .gallery-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s;
  }
  
  .gallery-item img:hover {
    transform: scale(1.1);
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  
  .close:hover {
    color: red;
  }

  



@media screen and (max-width: 1000px) {
	body > section {
		padding: 30px 20px;
	}
}
@media screen and (max-width: 600px) {
	main {
		float: none;
		width: 100%;
	}
	aside {
		float: none;
		width: 100%;
	}

}
