body{
    background-color: rgb(199, 199, 199);
    
}

form{
    text-align: right;
    margin-right: 10%;
    margin-top: 1%;
}

.input-group-text{
    background-color:  rgb(199, 199, 199);
}

.bi-send-fill{
    padding-left: 2pt;
    padding-bottom: 2pt;
}

.btn-primary{
    background-color: rgb(255, 217, 0);
    border-color: white;
}