/* Custom styling for the bottom border */
.custom-input, .form-select {
    border: none;
    border-bottom: 1.5pt solid #5b5b5b;
    border-radius: 0;
    padding: 5px 0;
    background-color: transparent;
  }

  .input-group-text{
    text-decoration: none;
    background-color: transparent;
    border: none;
    
  }

  .form-control{
    border: none;
    border-bottom: 1.5pt solid #5b5b5b;
    border-radius: 0;
    padding: 5px 0;
    background-color: transparent;
  }

  .card{
    width: 30rem;
    margin-left: 18%;
    margin-top: 3%;
    border-radius: 0%;
    border: none;
    padding: 2rem;
    padding-bottom: 5rem;
  }

 body{
  background-image: url(plant.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  
 }

 a{
  text-decoration: none;
  color: black;
  border: none;
    border-bottom: 1.5pt solid #5b5b5b;
    border-radius: 0;
    padding: 5px 0;
    background-color: transparent;

 }