<div class="container">
  <div class="row" id="start">
    <div class="col-md-6">
      <h1 id="greeting-message" class="mt-4"></h1>
      <h1>Enjoy your recipes, your way.</h1>
      <h4>Save, edit and use your recipes with our free website.</h4>

      <button
        type="button"
        class="btn btn-primary"
        onclick="window.location.hash = '#page3'"
        style="width: 200pt; height: 50pt; font-size: 20pt; margin-top: 20pt"
      >
        Get Started
        <i class="bi bi-arrow-right-circle-fill" style="margin-left: 5pt"></i>
      </button>
    </div>
    <div class="col-md-6" style="display: flex; justify-content: right">
      <img
        src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="food"
        style="width: 35rem; border-radius: 15pt"
      />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div id="modal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="modal-content">
          <img id="modal-img" />
          <h2 id="modal-title"></h2>
          <p id="modal-text"></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Toggle Gallery -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
              style="color: rgb(255, 255, 255); font-size: 20pt"
            >
              Toggle Gallery
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div
                class="gallery"
                id="gallery1"
                style="display: flex; justify-content: center"
              >
                <div class="gallery-item">
                  <img
                    src="https://images.unsplash.com/photo-1644921504851-b8861be402ac?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Image 1"
                    onclick="openModal('https://images.unsplash.com/photo-1644921504851-b8861be402ac?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 'Spaghetti with mozarella', 'Indulge in a classic Italian delight with our Spaghetti with Mozzarella recipe. This dish combines al dente spaghetti with a rich tomato sauce, fresh basil, and generous chunks of creamy mozzarella. It is a simple yet flavorful meal that iss perfect for any occasion, delivering a comforting and delicious experience with every bite. Perfect for a quick weeknight dinner or a cozy weekend meal, this spaghetti dish will become a favorite in your culinary repertoire. Enjoy the harmony of flavors and the delightful, melted mozzarella in every forkful!')"
                  />
                </div>
                <div class="gallery-item">
                  <img
                    src="https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Image 2"
                    onclick="openModal('https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 'Pizza Margherita', 'Enjoy the timeless simplicity of Pizza Margherita, featuring a thin, crispy crust topped with tangy tomato sauce, fresh mozzarella, and fragrant basil. Perfectly balanced and bursting with classic Italian flavors, it is an easy favorite for any pizza lover.')"
                  />
                </div>
                <div class="gallery-item">
                  <img
                    src="https://images.unsplash.com/photo-1514424350208-755887f7b374?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Image 3"
                    onclick="openModal('https://images.unsplash.com/photo-1514424350208-755887f7b374?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 'Vanilla Ice cream with fruit', 'Indulge in creamy vanilla ice cream topped with a medley of sweet and tangy forest fruits. This refreshing dessert combines rich, smooth ice cream with the vibrant flavors of berries, creating a delightful treat perfect for any occasion.')"
                  />
                </div>
                <div class="gallery-item">
                  <img
                    src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Image 4"
                    onclick="openModal('https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 'Chicken Egg salad with veggies', 'Enjoy a nutritious and delicious chicken veggie salad with eggs. This wholesome salad features tender chicken, fresh vegetables, and hard-boiled eggs, all tossed in a light dressing. It is a perfect balance of protein and greens for a satisfying meal.')"
                  />
                </div>
                <div class="gallery-item">
                  <img
                    src="https://images.unsplash.com/photo-1596797038530-2c107229654b?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Image 3"
                    onclick="openModal('https://images.unsplash.com/photo-1596797038530-2c107229654b?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 'Beef Curry', 'Savor the rich flavors of tender beef simmered in a fragrant curry sauce. This comforting dish is a perfect blend of spices, creating a hearty and flavorful meal that warms the soul. Enjoy it with rice or naan for a satisfying and delicious experience.')"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6" style="display: flex; justify-content: center">
      <a href="#page4" style="margin-top: 50pt; margin-bottom: 50pt"
        >Interested about the site? View more here</a
      >
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Display greeting message
    const userName = sessionStorage.getItem("userName");
    if (userName) {
      $("#greeting-message").text(`Welcome, ${userName}!`);
    }

    $("#toggle-gallery").click(function () {
      $(".gallery").toggle();
    });
  });

  function openModal(imageSrc, title, text) {
    document.getElementById("modal-img").src = imageSrc;
    document.getElementById("modal-title").innerText = title;
    document.getElementById("modal-text").innerText = text;
    document.getElementById("modal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("modal").style.display = "none";
  }

  // Close modal when clicking outside of the image
  window.onclick = function (event) {
    var modal = document.getElementById("modal");
    if (event.target == modal) {
      closeModal();
    }
  };
</script>
